h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  font-weight: 600;
  color: inherit;

  .squiggly {
    &:after {
      content: url(../images/SVG/text_decoration_line.svg);
      width: 100%;
      position: relative;
      top: -75px;
      z-index: 1;
    }
  }
}

h1 {
  font-size: 60px;
  @media(max-width: 1024px) {
    font-size: 55px;
  }
  @media(max-width: 769px) {
    font-size: 50px;
  }
  @media(max-width: 650px) {
    font-size: 40px;
  }
}

h2 {
  font-size: 55px;
  @media(max-width: 1024px) {
    font-size: 50px;
  }
  @media(max-width: 769px) {
    font-size: 45px;
  }
  @media(max-width: 650px) {
    font-size: 40px;
  }
}

h3 {
  font-size: 50px;
  @media(max-width: 1024px) {
    font-size: 45px;
  }
  @media(max-width: 769px) {
    font-size: 40px;
  }
  @media(max-width: 650px) {
    font-size: 35px;
  }
}

h4 {
  font-size: 30px;
  @media(max-width: 1024px) {
    font-size: 25px;
  }
  @media(max-width: 769px) {
    font-size: 20px;
  }
}

h5 {
  font-size: 25px;
  @media(max-width: 1024px) {
    font-size: 20px;
  }
}

h6 {
  font-size: 20px;
  @media(max-width: 1024px) {
    font-size: 16px;
  }
}


a {
  transition: .2s ease-in-out color;
  color: inherit;
  font-family: $regular-font;

  &:hover {
    color: #cfaa8f;
    transition: .3s ease-in-out color;
  }

  &.underline {
    &:after {
      content: url(../../images/SVG/text_decoration_line_straight.svg);
      width: 100%;
      margin-top: 5px;
    }
  }
}

p, li {
  color: inherit;
  font-family: $regular-font;
  font-size: 16px;
  font-weight: 300;
}

span {
  color: inherit;
  font-family: $regular-font;
  font-size: 18px;
}
