.page_not_found {
  margin: $margin-large 0;
  @media (max-width: 769px) {
    margin: 125px 0;
  }

  a {
    z-index: 2;

    &:after {
      z-index: 1;
    }
  }

  h1 {
    z-index: 2;

    &:after {
      z-index: -1;
    }
  }
}

.page_not_found ~ footer {
  margin-top: 0;
}
