@import "../import/variables";

footer {
  margin-top: $margin-large;
  background-color: $black-color;

  div.container {
    display: flex;
    justify-content: space-around;
    padding: $padding-medium 0 $padding-small 0;
    color: $white-color;
  }
}