section.icons {
  margin: $margin-large 0;
  @media (max-width: 769px) {
    margin: 125px 0;
  }

  div.topText {
    max-width: 60%;
    margin-bottom: 50px;
    @media(max-width: 769px) {
      max-width: unset;
    }
  }

  div.images {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    @media(max-width: 769px) {
      gap: 40px;
    }

    div.single {
      display: flex;
      flex-basis: calc(50% - 40px);
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      margin-bottom: 40px;
      @media(max-width: 769px) {
        flex-basis: 100%;
        margin-bottom: unset;
      }
      @media(max-width: 450px) {
        flex-direction: column;
        gap: $margin-small;
      }

      div.text {
        flex-basis: calc(60% - 20px);
        @media(max-width: 1050px) {
          flex-basis: calc(60% - 10px);
        }

        & > :first-child {
          margin-top: 0;
        }

        h1, h1, h3, h4, h5, h6 {
          margin: unset;
          @media(max-width: 450px) {
            margin-top: 20px;
          }
        }
      }

      div.image {
        flex-basis: calc(40% - 20px);
        @media(max-width: 1050px) {
          flex-basis: calc(40% - 10px);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          display: flex;
          justify-content: center;
          //filter: grayscale(100%);
          @media(max-width: 450px) {
            margin: auto;
            width: 50%;
          }
        }
      }
    }
  }
}


.acf-block-preview {
  section.icons {
    width: 100%;
    margin-left: 0;
  }
}