@import "import/variables";


.mce-text {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: $black-color !important;
}

.wp-block {
  max-width: $container-width;
}



body:not(.wp-admin),
.acf-block-preview {

  * {
    box-sizing: border-box;
  }

  margin: 0;

  @import "assets/header";
  @import "assets/footer";
  @import "woo/shared";
  @import "assets/error";
  @import "import/fonts";

  .container {
    margin: 0 auto;
    max-width: $container-width;
    width: 100%;
  }

  @media(max-width: $container-width + 40px) {
    .container {
      width: 100%;
      padding: 0 20px;
    }
  }

  .privacy {
    color: $primary-color;
  }
}