section.slider_two_column {
  margin: 75px 0;

  div.container {

    //Special case
    max-width: 100%;


    display: flex;
    justify-content: center;
    align-content: center;

    div.text {
      &.first {
        order: 1;
      }

      &.notFirst {
        order: 2;
      }

      flex-basis: 50%;
      color: $primary-color;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: flex;

      h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
      }

      div.navigation {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        .swiper-button-prev-custom {
          order: 1;
        }

        .swiper-button-next-custom {
          order: 2;
        }


        .swiper-button-next-custom, .swiper-button-prev-custom {
          width: 60px;
          height: 60px;
          border-radius: 100%;
          background-color: $primary-color;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: .2s ease-in-out background-color;
          cursor: pointer;

          svg {
            transition: .2s ease-in-out;
          }

          &:hover {
            transition: .3s ease-in-out background-color;
            background-color: darken($primary-color, 10%);

            svg {
              width: 35px;
              height: 35px;
              transition: .3s ease-in-out;
            }
          }
        }

        .swiper-button-next-custom {
          svg {
            transform: scaleX(-1);
          }
        }
      }
    }

    div.slider.swiper {
      &.first {
        order: 1;
      }

      &.notFirst {
        order: 2;
      }

      flex-basis: 50%;
      padding-bottom: 100px;

      .swiper-slide {
        width: 80%;
        position: relative;

        img {
          width: 100%;
          object-fit: cover;
        }

        .textBox {
          position: absolute;
          background-color: $primary-color;
          padding: 25px 60px;
          color: $white-color;
          bottom: -65px;
          left: 25%;
          width: 50%;

          p {
            font-size: 14px;
          }

          @media(max-width: 1400px) {
            width: 100%;
            padding: 25px 30px;
            position: unset;
          }
        }
      }
    }

    position: relative;

    .swiper-pagination {
      width: 60%;
      left: unset;
      right: 0;
      justify-content: center;
      align-items: center;
      bottom: -40px;

      .swiper-pagination-bullet {
        width: 16px;
        height: 16px;

        &.swiper-pagination-bullet-active {
          background-color: $primary-color;
        }
      }
    }

    div.slider.swiper.first ~ .swiper-pagination {
      right: unset;
      left: 0;
    }

    @media(max-width: 960px) {
      flex-wrap: wrap;
      div.text, div.slider.swiper {
        flex-basis: 100%;
      }
      div.text {
        order: 1 !important;
        margin-bottom: 30px;
      }
      div.slider.swiper {
        order: 2 !important;
        div.swiper-slide {
          width: 50%;
        }
      }
      .swiper-pagination {
        width: 100%;
        bottom: 0;
      }
    }
    @media(max-width: 450px) {
      div.slider.swiper {
        div.swiper-slide {
          width: 100%;
        }
      }
    }
  }

}

.acf-block-preview {
  section.slider_two_column {
    div.container {
      div.swiper-slide {
        padding-right: 10px;
      }
    }
  }
}