section.slider {
  margin: $margin-large 0;
  @media (max-width: 769px) {
    margin: 125px 0;
  }

  div.container {
    &.toEdge {
      width: unset;
      max-width: unset;

      div.header {
        padding-right: 20px;
      }
    }

    div.header {
      width: 100%;
      margin-bottom: 40px;
      @media(max-width: 1025px) {
        padding-right: 20px;
      }
      @media(max-width: 950px) {
        padding-right: 0px;
        flex-direction: column;
      }

      p {
        max-width: 60%;
        hyphens: auto;
        @media(max-width: 769px) {
          max-width: unset;
        }
      }
    }

    div.navigation {
      display: flex;
      gap: 10px;
      justify-content: flex-end;
      padding: 20px 20px 0 0;
      @media(max-width: 450px) {
        justify-content: center;
      }

      > div {
        width: 50px;
        transition: .2s ease-in-out width;
        cursor: pointer;

        svg {
          pointer-events: none;
        }

        &:hover {
          width: 100px;
          transition: .3s ease-in-out width;
        }

        &.swiper-button-next-custom {
          transform: scaleX(-1);
        }
      }
    }

    div.image {
      img {
        max-width: 100%;
        width: 100%;
        height: 500px;
        object-fit: cover;
        cursor: grab;
      }
    }
  }
}

.acf-block-preview {
  section.slider.special {
    width: 100%;
    margin-left: 0;
  }
}