.acf-block-preview {
  section.beta_instagram_feed {
    div.container {
      div.insta_preview {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        gap: 10px;

        img {
          flex-basis: 25%;
        }
      }
    }
  }
}
