section.table {
  margin: $margin-large 0;
  @media (max-width: 769px) {
    margin: 125px 0;
  }

  div.container {
    @media (max-width: 769px) {
      padding: 0;
    }

    div.text {
      margin: 50px 0;
      @media (min-width: 770px) {
        max-width: 70%;
      }
      @media (max-width: 769px) {
        padding: 0 20px;
      }
    }

    table {
      width: 100%;

      th {
        text-align: left;

        p {
          font-weight: 600;
          margin: 0;
        }
      }

      th, td {
        border-bottom: 1px solid $grey-color;
        border-left: 1px solid $grey-color;
        padding: 25px 30px;
        @media (max-width: 1050px) {
          padding: 20px 25px;
        }
        @media (max-width: 769px) {
          padding: 20px 15px;
        }

        &:first-of-type {
          border-left: none;
        }

        &:last-of-type {

        }

        p {
          margin: 0;
          hyphens: auto;
        }
      }
    }

    tr:last-of-type {
      td {
        border-bottom: none;
      }
    }
  }
}
