/*todo Skift Values på alle variables. */

/* COLORS */
$white-color: #F6F6F6;
$black-color: #000;
$grey-color: #707070;
$primary-color: '';

/* FONTS */
$standard-fontsize: 1.4em;

$regular-font: '', sans-serif;
$heading-font: '', sans-serif;

/* ELEMENT SIZING */
$container-width: 1520px;


/* SPACING */
$padding-xsmall: 20px;
$padding-small: 25px;
$padding-medium: 75px;
$padding-xmedium: 100px;
$padding-large: 150px;

$margin-xsmall: 20px;
$margin-small: 25px;
$margin-medium: 75px;
$margin-xmedium: 100px;
$margin-large: 150px;