section.contact_info {
  margin: $margin-large 100px;
  @media (max-width: 1150px) {
    margin: $margin-large 50px;
  }
  @media (max-width: 769px) {
    margin: 125px 50px;
  }
  @media (max-width: 450px) {
    margin: 125px 25px;
  }

  div.container {
    article.body {
      display: flex;
      flex-direction: column;


      div.content {
        div.singles {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          @media(max-width: 650px) {
            flex-direction: column;
          }

          div.single {
            @media(max-width: 950px) {
              flex-basis: 50%;
            }
            @media(max-width: 650px) {
              flex-basis: 100%;
            }

            p {
              font-size: 16px;
            }

            a {
              text-decoration: none;
              font-size: 16px;
              font-weight: 400;
            }

            .socials {
              color: $primary-color;
              display: flex;
              gap: 5px;
            }
          }
        }
      }
    }
  }
}
