section.slider {
  margin: $margin-large $margin-small;

  &.content {
    margin-top: 100px;
    margin-bottom: 150px;

    div.swiper.slides.content {
      padding-bottom: 60px;
    }

    p {
      font-size: 20px;
      font-weight: lighter;
      font-family: $regular-font;
      margin-top: 10px;
      max-width: 60%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    div.navigation {

      position: absolute;
      z-index: 99;
      bottom: 0;
      right: 0;
      height: 60px;
      width: 140px;
      margin: 0;
      gap: 10px;
      display: flex;

      > div {
        border: 1px solid $white-color;
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .2s ease-in-out width;
        cursor: pointer;

        svg {
          pointer-events: none;
        }

        &:hover {
          width: 100%;
          transition: .3s ease-in-out width;
        }

        &.swiper-button-next-custom {
          transform: scaleX(-1);
        }
      }
    }
  }

  &.special {
    div.swiper {
      h2 {
        font-family: $heading-font;
        font-weight: 400;
        position: relative;
        margin-bottom: 100px;
        max-width: 40%;
        margin-right: 100px;
        line-height: 1.3;

        @media(max-width: 950px) {
          max-width: 100%;
          margin-right: 0;
          width: 100%;
        }
      }

      div.single {
        color: inherit;

        h3 {
          font-size: 18px;
          line-height: 1.5;
          font-weight: 400;
          margin-bottom: 90px;
          text-transform: uppercase;
        }

        img {
          max-width: 100%;
          width: 100%;
        }


        div.content {
          margin-bottom: 30px;
          font-size: 16px;
          font-weight: 300;
          color: $black-color;
        }
      }
    }

    div.header {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      @media(max-width: 1025px) {
        padding-right: 20px;
      }
      @media(max-width: 950px) {
        padding-right: 0px;
        flex-direction: column;
      }

      h2 {
        line-height: 1.3;
      }
    }

    div.navigation {
      display: flex;
      flex-direction: row;
      gap: 20px;

      .swiper-button-prev-custom, .swiper-button-next-custom {
        border: 1px solid $primary-color;
        text-align: center;
        transition: .2s ease-in-out background-color;
        background-color: transparent;
        padding: 20px 60px;
        position: relative;
        cursor: pointer;
        font-family: $heading-font;

        &:hover {
          background-color: $primary-color;
          transition: .3s ease-in-out background-color;
        }

        a {
          color: $white-color;
          text-decoration: none;
        }

      }

      .swiper-button-next-custom {
        &:before {
          right: 0;
          left: unset;
          transform: translateX(50%);
        }
      }

      @media(max-width: 950px) {

        width: 100%;
        justify-content: space-evenly;
        margin-bottom: 30px !important;

      }
      @media(max-width: 500px) {
        flex-direction: column;
        padding: 0 40px;
      }

    }
  }

  .btnContainer {
    width: 100%;
    text-align: right;
  }


  div.img {
    max-width: 100%;
    width: 100%;
    background-size: cover;
    min-height: 300px;
    margin-bottom: 50px;


    &.orange{
      background-color: #BE6E2B;
      background-blend-mode: soft-light;
      background-repeat: no-repeat;
    }

    @media(max-width: 1025px) {
      min-height: 250px;
      margin-bottom: 25px;
    }
  }

  &.special {
    div.img {
      min-height: 400px;
    }
  }
}

.acf-block-preview {
  section.slider.special {
    width: 100%;
    margin-left: 0;
  }
}