section.textContent {
  padding: 50px 10px;
  color: $primary-color;

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.0;
    margin: 10px 0;
  }


  p, a, li, span {
    line-height: 1.5;
  }

  @media(max-width: 1024px) {
    padding: 25px 10px;
  }

  @media(max-width: 769px) {
    padding: 15px 5px;
  }
}

.acf-block-preview {
  section.textContent {
    div.container {
      z-index: 2;

      h1, h2, h3, h4, h5, h6, a, p, li, span {
        margin: 0;
        z-index: 2;

        &.straight {
          &:after {
            z-index: 0;
          }
        }

        &.squiggly {
          &:after {
            z-index: -1;
          }
        }
      }
    }
  }
}