section.accordion {
  margin: $margin-large 0;
  @media (max-width: 769px) {
    margin: 125px 0;
  }

  div.container {
    h1, h2, h3, h4, h5, h6 {
      margin: 10px 0 35px;
      line-height: 1.2;
    }

    div.header {
      margin-bottom: 50px;

      h2 {
        line-height: 1;
      }

      p {
        max-width: 70%;
      }
    }

    div.questions {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;

      div.single {
        flex-basis: calc(50% - 20px);

        iframe, video {
          width: 100%;
          min-height: 450px;
          border: none;
          margin-bottom: 30px;
        }

        @media(max-width: 769px) {
          flex-basis: 100%;
          iframe, video {
            min-height: 300px;
          }
        }
      }

      .question {
        border-bottom: 1px solid $primary-color;
        padding-bottom: 25px;
        padding-left: 50px;
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-family: $regular-font;
      }

      .question::after {
        content: url(../images/SVG/icons8-plus.svg);
        font-size: 1.5rem;
        position: absolute;
        left: 20px;
        transition: 0.2s;

        @media(max-width: 950px) {
          left: 10px;
        }
      }

      .question.active::after {
        transform: rotate(45deg);
      }

      .answercont {
        margin-top: 10px;
        max-height: 0;
        overflow: hidden;
        transition: 0.3s;
      }

      .answer {
        padding: 0 20px 20px;
        line-height: 1.5rem;
      }

      .question.active + .answercont {
      }
    }
  }
}