section.accordion {
  margin: $margin-large 0;
  @media (max-width: 769px) {
    margin: 125px 0;
  }

  div.container {
    h1, h2, h3, h4, h5, h6 {
      margin: 10px 0 35px;
      line-height: 1.2;
    }

    div.header {
      margin-bottom: 50px;

      h2 {
        line-height: 1;
      }

      p {
        max-width: 70%;
      }
    }

    div.questions {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;

      div.single {
        flex-basis: calc(50% - 20px);

        iframe, video {
          width: 100%;
          min-height: 450px;
          border: none;
          margin-bottom: 30px;
        }

        @media(max-width: 769px) {
          flex-basis: 100%;
          iframe, video {
            min-height: 300px;
          }
        }
      }

      .question {
        border: 1px solid $black-color;
        padding: 20px;
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-family: $regular-font;
        gap: 50px;

        div.icon {
          span {
            position: absolute;
            width: 14px;
            height: 3px;
            background-color: $primary-color;

            &:last-child {
              transform: rotate(90deg);
            }
          }
        }

        &.active {
          // hvis plus-ikonet skal blive til minus-ikon ved at den lodrette streg forsviner
          span:last-child {
            opacity: 0;
            transition: .3s ease-in-out;
          }

          // hvis plus-ikonet skal blive til et kryds
          /*div.icon {
            span:first-of-type {
              transform: rotate(45deg);
              transition: .3s ease-in-out;
            }
            span:last-of-type {
              transform: rotate(135deg);
              transition: .3s ease-in-out;
            }
          }*/
        }
      }

      .answercont {
        margin-top: 10px;
        max-height: 0;
        overflow: hidden;
        transition: 0.3s;
      }

      .answer {
        padding: 0 20px 20px;
        line-height: 1.5rem;
      }

      .question.active + .answercont {
      }
    }
  }
}