div.woocommerce {
  padding: 150px 0;
  background-color: rgba(2, 45, 98, 0.1);
  position: relative;
  @media(max-width: 769px) {
    padding: 30px 0;
  }


  div.woocommerce-form-login-toggle {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  #payment {
    div.form-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-right: 25px;

      div.woocommerce-terms-and-conditions-wrapper {
        max-width: 50%;
      }
    }
  }

  h3.sharedTitle {
    max-width: 30%;
    font-size: 50px;
    font-weight: 600;
    font-family: $regular-font;
    margin: 50px 0 75px 0;
    line-height: 1.1;
    color: $secondary-color;
  }

  form.woocommerce-checkout {
    .col-2 {
      display: none;
    }

    .col-1 {
      float: unset;
      width: 100%;

      div.woocommerce-billing-fields {

        h3 {
          flex-basis: 100%;
        }

        div.woocommerce-billing-fields__field-wrapper {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          p.form-row {
            flex-basis: calc(50% - 100px);
            float: unset;
          }
        }
      }
    }
  }

  section.order_review {
    table {
      font-family: $regular-font;
    }

    .woocommerce-privacy-policy-text {
      margin: 10px 0 0 0;
    }

    table.shop_table {
      border-spacing: 0;
      border-radius: 0;
      border: 1px solid rgba(5 45 98, .5);
      border-top: 4px solid rgba(5 45 98, 1);

      th {
        font-size: 20px;
        color: $secondary-color;
        border-top: 1px solid rgba(5 45 98, .5);
      }

      td {
        font-size: 16px;
        color: $secondary-color;
        border-top: 1px solid rgba(5 45 98, .5);
      }
    }
  }

}