section.slider_two_column {
  margin: $margin-large 0;
  @media (max-width: 769px) {
    margin: 125px 0;
  }

  div.container {
    display: flex;

    @media(max-width: 950px) {
      padding: 0;
    }

    &.toEdge {
      width: unset;
      max-width: unset;
    }

    .swiper {
      width: 100%;
      height: 100%;

      .swiper-wrapper {
        height: 100%;
        position: relative;
        width: 100%;
        padding-bottom: 0;

        .swiper-slide {
          height: auto;
          width: 100%;
          position: relative;
          display: flex;
          align-content: center;
          justify-content: space-between;
          @media(max-width: 950px) {
            height: unset;
            flex-wrap: wrap;
            align-content: unset;
            gap: $margin-small;
          }

          div.column {
            height: 100%;
            flex-basis: calc(50% - 30px);

            @media(max-width: 950px) {
              flex-basis: 100%;
              height: auto;
            }

            &:first-of-type {
              position: relative;
            }

            div.text {
              opacity: 0;
              transition: .3s ease-in-out opacity;

              @media(max-width: 950px) {
                max-width: unset;
                width: 100%;
                margin-bottom: 0;
                padding: 0 20px;
              }

              .text__container {
                p, li, span {
                  text-align: left;
                }
              }


              flex-direction: column;
              justify-content: center;
              display: flex;
              height: 100%;

              h1,
              h2,
              h3,
              h4,
              h5,
              h6 {
                text-align: left;
              }
            }

            img {
              height: 100%;
              margin: auto;
              object-fit: cover;
              position: relative;
              width: 100%;

              @media(max-width: 950px) {
                width: 100%;
                position: unset;
                transform: none;
                height: 100%;
              }
              @media(max-width: 769px) {
                min-height: 300px;
                max-height: 300px;
                height: 100%;
                display: block;
              }
            }

            div.navigation {
              svg {
                width: 100%;
                height: 100%;
              }

              @media(max-width: 950px) {
                bottom: 0;
                right: 0;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                gap: 1px;
              }

              .swiper-button-prev-custom {
                transform: scale(-1);
              }

              .swiper-button-next-custom,
              .swiper-button-prev-custom {
                width: 65px;
                height: 65px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.2s ease-in-out background-color;
                cursor: pointer;
                background-color: $black-color;

                svg {
                  transition: 0.2s ease-in-out;
                  width: 30px;
                  height: 30px;
                }

                &:hover {
                  transition: 0.3s ease-in-out background-color;

                  svg {
                    width: 35px;
                    height: 35px;
                    transition: 0.3s ease-in-out;
                  }
                }
              }
            }

            &.image {
              div.navigation {
                position: absolute;
                display: flex;
                left: 50%;
                right: 50%;
                width: fit-content;
                bottom: 0;
              }
            }
          }

          &.swiper-slide-visible {
            div.column {
              div.text {
                opacity: 1;
                transition: .3s ease-in-out;
              }
            }
          }


          &.is_solo {
            div.text {
              opacity: 1 !important;
              transition: none;
            }
          }
        }
      }

      &:after {
        content: '';
        position: absolute;
        width: 50%;
        top: 0;
        height: 100%;

        @media(max-width: 950px) {
          width: 100%;
        }
      }

      &.left {
        div.navigation {
          flex-direction: row-reverse;
          transform: translate(50%, 0%);
        }

        div.text {
          align-items: flex-end;
        }

        &:after {
          left: 0;
          right: unset;
        }
      }

      &.right {
        div.navigation {
          transform: translate(-50%, 0%);
        }

        div.text {
          align-items: flex-start;
        }
      }
    }
  }
}

.acf-block-preview {
  section.slider_two_column {
    div.container {
      div.swiper-slide {
        padding-right: 10px;
      }
    }
  }
}
